@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary: #eceef1;
  --secondary: #11071F;
  --tertiary: #3f2662;
  --button: #f4f4f4;
  --border: #301458;
  --line: #11071F39;
  --bar: #dadada59;
}

[data-theme="dark"]{
  --primary: #11071F;
  --secondary: #fff;
  --tertiary: #D1D5DB;
  --button: #301458;
  --border: #FFFFFF59;
  --line: #ffffff26;
  --bar: #FFFFFF59;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--secondary);
  fill: var(--secondary);
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  fill: var(--secondary);
  margin: 1rem 2rem;
}

@media screen and (max-width: 480px) {
  body {
    margin: 1rem;
  }
}